.App {  
  text-align: center;
  background-color: #282c34;
  display: flex;
  color: white;
}

.List {
  height: 100vh;
  display: flex;
  flex-direction: column;

}

.Card {    
  height: 14%;  
  margin: 10px;
  border: 1px solid white;
}

.Card:hover {
  background-color: gray;
  cursor: pointer;
}

.Card h2 {
  height: 20%;
  margin: 0;
}



.Card img {    
  height: 75%;  
}

.details-field {
  margin-left: 100px;
}